* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f26d30;
    padding: 10px;
    font-weight:bold;
}

.logo-container {
    text-align: center;
}

#logo {
    height: 100px;
}

nav {
    display: flex;
}

.nav-left {
    margin-right: auto;
    margin-left: auto;
}

.nav-right {
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    text-decoration: none;
    color: #070707;
    margin: 0 10px;
    font-size: 18px;
    transition: transform 0.3s;
}

.nav-link:hover {
    transform: scale(1.3);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/* 模態框樣式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    }
    
    .modal-content {
    margin: 15% auto;
    display: block;
    width: 80%;
    max-width: 700px;
    }
    
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }
    